* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-image :linear-gradient(to bottom, #5b247a 0%,#1bcedf 100%);
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  color: #333435;
  letter-spacing: 0.025rem;
  margin: 0px;
  padding-top: 40px;
}

@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

a {text-decoration: none;}
a:hover {color: orange;}

.Coin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0;
  height: 70px;
  margin: 0.5rem;
  box-shadow:0 6px 15px rgba(36,37,38,0.08);
  background-color: #fff;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .Coin {
    height: 6rem;
  }
}

@-webkit-keyframes RED-FADE {
  0%   { background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); }
  100% { background-color: #fff; }
}
@-moz-keyframes RED-FADE {
  0%   { background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); }
  100% { background-color: #fff; }
}
@-o-keyframes RED-FADE {
  0%   { background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); }
  100% { background-color: #fff; }
}
@keyframes RED-FADE {
  0%   { background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); }
  100% { background-color: #fff; }
}

@-webkit-keyframes GREEN-FADE {
  0%   { background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); }
  100% { background-color: #fff; }
}
@-moz-keyframes GREEN-FADE {
  0%   { background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); }
  100% { background-color: #fff; }
}
@-o-keyframes GREEN-FADE {
  0%   { background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); }
  100% { background-color: #fff; }
}
@keyframes GREEN-FADE {
  0%   { background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); }
  100% { background-color: #fff; }
}

.tickGreen {
  -webkit-animation: GREEN-FADE 2s ;
  -moz-animation:    GREEN-FADE 2s ;
  -o-animation:      GREEN-FADE 2s ;
  animation:         GREEN-FADE 2s ;
}

.tickRed {
  -webkit-animation: RED-FADE 2s ;
  -moz-animation:    RED-FADE 2s ;
  -o-animation:      RED-FADE 2s ;
  animation:         RED-FADE 2s ;
}
